{{>userheader}}
{{!-- <link rel="stylesheet" href="css/userlogin.css" type="text/css"> --}}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active underlineHover">Forget Password </h2>
   

    <!-- Login Form -->
    <form action="/forgotpassword" method="post">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email" required>
      <div>
        <p style="color: red;">{{message1}}</p>
      </div>

      <input type="submit" class="fadeIn fourth" value="Submit"><br>
    </form>

    <!-- Remind Passowrd -->

  </div>
</div>