
<link rel="stylesheet" type="text/css" href="/css/ordersuccess.css">


<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    h1 {
        color: #ab7a7e;
        margin-top: 0;
    }

    p {
        margin-bottom: 20px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color:  #D19C97;;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn:hover {
        background-color:  #D19C97;;
    }
    .table-container{

         max-width: 600px;
        margin: 0 auto;
        padding: 100px;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
</style>

<body>
   
        <div class="table-container" style="margin-top: 250px;">
            
            
                
                    <h1>Thank You for Your Order!</h1>
                    <p>Your order has been received and is being processed. We will send you an email with your order
                        details and shipping information.</p>
                    <a href="/" class="btn">Continue Shopping</a>
                    <a href="/orderhistory" class="btn">View Orders</a>
               
            
        </div>
    
</body>

</html>